In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from django.forms import model_to_dict

from vvs_map.models import VVSTransport

In [19]:
qs_transport = VVSTransport.objects.all()
qs_journey = VVSJourney.objects.all()
qs_data = VVSData.objects.all()
# Get all object from QuerySet to a DataFrame
# Transport
objs = [ model_to_dict(obj) for obj in qs_transport] 
df_transport = pd.DataFrame(objs)
# Journey
objs = [ model_to_dict(obj) for obj in qs_journey] 
df_journey = pd.DataFrame(objs)
# Data
objs = [ model_to_dict(obj) for obj in qs_data] 
df_data = pd.DataFrame(objs)
df_journey.head()

           day_of_operation  id    vvs_id  vvs_transport
0 2016-01-30 23:00:00+00:00   1  26641926              1
1 2016-01-30 23:00:00+00:00   2  26642711              2
2 2016-01-30 23:00:00+00:00   3  26642714              3
3 2016-01-30 23:00:00+00:00   4  26642719              4
4 2016-01-30 23:00:00+00:00   5  26642740              5

In [3]:
# merge journey and transport on foreign key
df_journey_trasnport = pd.merge(df_journey,df_transport,left_on='vvs_transport',right_on='id')

In [4]:
df_data_journey_trasnport = pd.merge(df_journey_trasnport,df_data,left_on='id_x',right_on='vvs_journey')

In [18]:
# find out as much as we can about Bus 82
df_data_journey_trasnport.head()

,day_of_operation,id_x,vvs_id,vvs_transport,direction_text,id_y,journey_id,line_text,mod_code,operator,...,is_at_stop,latitude,latitude_before,longitude,longitude_before,next_stop,real_time_available,timestamp,timestamp_before,vvs_journey
0,2016-01-30 23:00:00+00:00,1,26641926,1,TÃ¼bingen Hauptbahnhof,1,33966,Bus 828,5,,...,True,174761643,174763341,32672841,32672416,5020305#0#3,False,2016-02-01 09:08:42+00:00,2016-02-01 09:08:35+00:00,1
1,2016-01-30 23:00:00+00:00,1,26641926,1,TÃ¼bingen Hauptbahnhof,1,33966,Bus 828,5,,...,True,174726902,174751485,32677763,32674245,5020305#0#3,False,2016-02-01 09:09:10+00:00,2016-02-01 09:09:03+00:00,1
2,2016-01-30 23:00:00+00:00,1,26641926,1,TÃ¼bingen Hauptbahnhof,1,33966,Bus 828,5,,...,True,174715329,174716674,32678922,32679044,5020305#0#3,False,2016-02-01 09:09:37+00:00,2016-02-01 09:09:30+00:00,1
3,2016-01-30 23:00:00+00:00,1,26641926,1,TÃ¼bingen Hauptbahnhof,1,33966,Bus 828,5,,...,True,174711426,174712175,32674120,32675564,5020505#0#3,False,2016-02-01 09:10:11+00:00,2016-02-01 09:10:04+00:00,1
4,2016-01-30 23:00:00+00:00,1,26641926,1,TÃ¼bingen Hauptbahnhof,1,33966,Bus 828,5,,...,True,174708261,174708557,32666787,32667820,5020505#0#3,False,2016-02-01 09:10:39+00:00,2016-02-01 09:10:32+00:00,1

In [6]:
df_data_bus82 = df_data_journey_trasnport[df_data_journey_trasnport.line_text == 'Bus 82']

In [7]:
# what directions does it have?
df_data_bus82.direction_text.unique()

array(['Rohr Mitte', 'Waldeck', 'Leinfelden Bf', 'Vaihingen ZOB'], dtype=object)

In [8]:
# what time range do we have data for
period_start = df_data_bus82.timestamp.sort_values().min()
period_end = df_data_bus82.timestamp.sort_values().max()
print(period_start, " - ", period_end)

2016-02-01 09:08:42+00:00  -  2016-02-03 07:54:34+00:00

In [9]:
# what are the stops
df_data_bus82.next_stop.unique()

array(['5002595#0#3', '5006004#2#3', '5006012#1#3', '5006002#7#6',
       '5000002#0#3', '5006015#0#3', '5006016#0#3', '5002615#0#1',
       '5002610#0#3', '5002615#0#3', '5002616#0#3', '5002611#0#3',
       '5006014#3#1', '5002578#0#3', '5002604#0#3', '5006008#3#3',
       '5002603#0#3', '5002580#0#3', '5002602#0#3', '5002701#0#3',
       '5006012#1#4', '5006004#3#4', '5002595#0#4', '5002701#0#4',
       '5002602#0#4', '5002580#0#4', '5002603#0#4', '5006008#4#4',
       '5002604#0#4', '5002605#0#4', '5002609#0#4', '5002578#0#4',
       '5006010#2#4', '5002611#0#4', '5002615#0#2', '5006016#0#4',
       '5006015#0#4', '5000002#0#4', '5006002#6#5', '5002609#0#3',
       '5002605#0#3', '5007103#0#2', '5002099#0#2', '5002108#0#4',
       '5002109#0#4', '5002110#0#3', '5002106#0#3', '5002125#0#4',
       '5006007#0#4', '5006014#1#2', '5006007#0#3', '5002125#0#3',
       '5002106#0#4', '5002109#0#3', '5002138#0#3', '5002108#0#3',
       '5007105#0#1', '5002099#0#1', '5002069#1#1', '5000175#4#3',
       '5002107#0#4', '5007103#0#1', '5006018#0#3', '5006018#0#4'], dtype=object)

In [20]:
# what were the known positions
positions_longitude = df_data_bus82['longitude']
positions_latitude = df_data_bus82['latitude']
positions_longitude

35393      32793255
35394      32794132
35395      32795057
35396      32794785
35397      32795038
35398      32797942
35399      32802819
35400      32805956
35401      32821058
35402      32822926
35403      32816866
35404      32805891
35405      32804319
35406      32804319
35407      32804319
35408      32792744
35409      32786729
35410      32771530
35411      32760701
35412      32740038
35413      32740038
35414      32729869
35415      32729869
35416      32729842
35417      32747810
35418      32749386
35419      32745847
35420      32731168
35421      32731168
35422      32731168
             ...
2364884    32795082
2364885    32801328
2364886    32803882
2364887    32811598
2364888    32823096
2364889    32822223
2364890    32814503
2364891    32804642
2364892    32804319
2364893    32804319
2364894    32798965
2364895    32790178
2364896    32781365
2364897    32766773
2364898    32729869
2364899    32729869
2364900    32736592
2364901    32745903
2364902    32749800
2364903    32741219
2364904    32731168
2364905    32731168
2364906    32730772
2364907    32730772
2364908    32733858
2364909    32747749
2364910    32757277
2364911    32762512
2364912    32767939
2364913    32778133
Name: longitude, dtype: int64

In [21]:
df_positions = DataFrame(dict(longitude = positions_longitude/3600000, latitude = positions_latitude/3600000))
df_positions.head()

        latitude  longitude
35393  48.731505   9.109238
35394  48.731236   9.109481
35395  48.730231   9.109738
35396  48.730787   9.109663
35397  48.730398   9.109733

In [12]:
# delays sum
delays_in_sec = df_data_bus82.delay.sum()

In [13]:
# Which line has the most delay, summed up
d = df_data_journey_trasnport.groupby('line_text').mean().sort_values('delay',ascending=False)
# the top 10
d.delay.head(10)

line_text
Bus 194    216.800847
Bus 171    210.623557
Bus 197    180.529412
Bus 60     138.649917
Bus 92     138.140974
Bus 246    137.151052
Bus 56     129.497883
Bus 592    121.008976
Bus 52     112.536935
Bus 106    112.030061
Name: delay, dtype: float64

In [14]:
def getDirections(line_text_param):
    return df_data_journey_trasnport[df_data_journey_trasnport.line_text == line_text_param].direction_text.unique()

In [15]:
getDirections('Bus 82')

array(['Rohr Mitte', 'Waldeck', 'Leinfelden Bf', 'Vaihingen ZOB'], dtype=object)

In [16]:
getDirections('Bus 185')

array(['GroÃ\x9fbettlingen Metzinger Str.', 'NÃ¼rtingen ZOB',
       'Grafenberg Ziegelwasenstr.'], dtype=object)

In [17]:
getDirections('Bus 54')

array(['Freiberg', 'MarabustraÃ\x9fe', 'Sommerrain', 'Max-Eyth-See'], dtype=object)