In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from django.forms import model_to_dict

from vvs_map.models import VVSTransport

In [31]:
VVSJourney.objects.get(id=1).vvs_transport

In [4]:
# find bus 82
vvs_transport_bus82 = VVSTransport.objects.filter(line_text='Bus 82')

In [5]:
# create an array with ids of this above
transport_ids = []
# The `iterator()` method ensures only a few rows are fetched from
# the database at a time, saving memory.
for transport in vvs_transport_bus82.iterator():
    transport_ids.append(transport.id)

In [6]:
# use the array of transport ids to query in journey
vvs_journey_bus82 = VVSJourney.objects.filter(vvs_transport__in=transport_ids)

In [7]:
# now we have the journey objects for Bus 82 
# crete an array with journey_ids
journey_ids = []
for journey in vvs_journey_bus82.iterator():
    journey_ids.append(journey.id)

In [21]:
# let's filter for data related to theese journeys
vvs_data_bus82 = VVSData.objects.filter(vvs_journey__in=journey_ids)
vvs_data_bus82.count()

12532

In [9]:
# ONLY NOW create dataFrames from queryset
df_data_bus82 = pd.DataFrame([model_to_dict(obj) for obj in vvs_data_bus82])

In [10]:
df_data_bus82.head()

,current_stop,delay,id,is_at_stop,latitude,latitude_before,longitude,longitude_before,next_stop,real_time_available,timestamp,timestamp_before,vvs_journey
0,5002701#0#3,0,340,True,175433417,175434038,32793255,32792884,5002595#0#3,True,2016-02-01 09:08:42+00:00,2016-02-01 09:08:35+00:00,340
1,5006002#6#5,180,452,True,175425069,175423770,32821257,32819010,5006012#1#4,True,2016-02-01 09:08:42+00:00,2016-02-01 09:08:35+00:00,452
2,5002595#0#3,0,836,True,175432450,175432833,32794132,32793737,5006004#2#3,True,2016-02-01 09:09:10+00:00,2016-02-01 09:09:03+00:00,340
3,5006012#1#4,180,947,True,175427261,175427254,32819191,32820285,5006004#3#4,True,2016-02-01 09:09:10+00:00,2016-02-01 09:09:03+00:00,452
4,5002595#0#3,0,1347,True,175428831,175429316,32795057,32795046,5006004#2#3,True,2016-02-01 09:10:11+00:00,2016-02-01 09:10:04+00:00,340

In [11]:
# list of stops
df_data_bus82.current_stop.unique()

array(['5002701#0#3', '5006002#6#5', '5002595#0#3', '5006012#1#4',
       '5006004#3#4', '5006014#1#2', '5006004#2#3', '5002595#0#4',
       '5006012#1#3', '5002701#0#4', '5002611#0#4', '5002602#0#4',
       '5002616#0#3', '5006002#7#6', '5002580#0#4', '5002615#0#2',
       '5006010#2#3', '5002610#0#3', '5002578#0#3', '5000002#0#3',
       '5002603#0#4', '5002609#0#3', '5006015#0#3', '5006008#4#4',
       '5002615#0#3', '5002605#0#3', '5006016#0#3', '5006016#0#4',
       '5002604#0#3', '5002615#0#1', '5002604#0#4', '5006015#0#4',
       '5002605#0#4', '5000002#0#4', '5006008#3#3', '5002609#0#4',
       '5002603#0#3', '5002578#0#4', '5002580#0#3', '5002602#0#3',
       '5002611#0#3', '5000175#4#3', '5007103#0#2', '5007105#0#2',
       '5002138#0#4', '5002109#0#4', '5002107#0#3', '5002106#0#3',
       '5002125#0#4', '5006007#0#4', '5006014#3#1', '5006007#0#3',
       '5002125#0#3', '5002110#0#4', '5002109#0#3', '5002138#0#3',
       '5002108#0#3', '5007105#0#1', '5007103#0#1', '5002069#1#1',
       '5002106#0#4', '5002099#0#1', '5002591#0#p3', '5006018#0#4'], dtype=object)

In [12]:
df_data_bus82.ix[1]

current_stop                         5006002#6#5
delay                                        180
id                                           452
is_at_stop                                  True
latitude                               175425069
latitude_before                      1.75424e+08
longitude                               32821257
longitude_before                      3.2819e+07
next_stop                            5006012#1#4
real_time_available                         True
timestamp              2016-02-01 09:08:42+00:00
timestamp_before       2016-02-01 09:08:35+00:00
vvs_journey                                  452
Name: 1, dtype: object

In [13]:
# summed up delay
df_data_bus82.delay.sum()

607590

In [17]:
# visualize coordinates
def gmap(lat,lon,zoom=15):

    from IPython.display import IFrame
    from IPython.core.display import display

    # Google Maps URL template for an iframe
    google_maps_url = "http://maps.google.com/maps?q={0}+{1}&z={2}&output=embed".format(lat, lon,zoom)

    display(IFrame(google_maps_url, '625px', '450px'))

In [18]:
def showPos(index):
    row = df_data_bus82.ix[index]
    print(row)
    lon = row.longitude / 3600000
    lat = row.latitude / 3600000
    print("lat: {}, lon: {}".format(lat,lon))
    gmap(lat, lon)

In [26]:
showPos(1)

current_stop                         5006002#6#5
delay                                        180
id                                           452
is_at_stop                                  True
latitude                               175425069
latitude_before                      1.75424e+08
longitude                               32821257
longitude_before                      3.2819e+07
next_stop                            5006012#1#4
real_time_available                         True
timestamp              2016-02-01 09:08:42+00:00
timestamp_before       2016-02-01 09:08:35+00:00
vvs_journey                                  452
Name: 1, dtype: object
lat: 48.72918583333333, lon: 9.117015833333333

In [57]:
# delays per journey
df_data_bus82_min = pd.DataFrame(df_data_bus82, columns=['vvs_journey','delay'])
df_data_bus82_min.groupby('vvs_journey').mean().sort_values('delay', ascending=False)

                  delay
vvs_journey
35275        257.704918
46804        244.354839
14977        230.250000
45695        217.377049
35250        210.000000
34263        183.636364
3832         180.000000
15325        168.292683
11849        167.142857
16958        144.000000
452          142.222222
2209         138.260870
21748        130.714286
35908        128.307692
39040        124.705882
40589        120.000000
38200        120.000000
8798         120.000000
7221         120.000000
40553        120.000000
23752        120.000000
46296        119.062500
29213        118.095238
3664         118.064516
25904        116.250000
28702        115.714286
15600        112.784810
39262        108.214286
16367        106.500000
39716        104.571429
...                 ...
32445          0.000000
14658          0.000000
14373          0.000000
33111          0.000000
14077          0.000000
14001          0.000000
34136          0.000000
13712          0.000000
13625          0.000000
13297          0.000000
13190          0.000000
12357          0.000000
12249          0.000000
17434          0.000000
6546           0.000000
11215          0.000000
37347          0.000000
17548          0.000000
28191          0.000000
37878          0.000000
28077          0.000000
38220          0.000000
27652          0.000000
9138           0.000000
27129          0.000000
7506           0.000000
18725          0.000000
15140          0.000000
19292          0.000000
48128          0.000000

[229 rows x 1 columns]